@page
@model ExploreModel
@{
    ViewData["Title"] = "Explorar";
}

<h1 class="display-4">Conheça</h1>
<p>Hoteis maravilhosos pelo mundo</p>

<div>
    @if (Model.RandomHotels == null)
    {
        <div>Não há hoteis suficientes cadastrados.</div>
    }
    else
    {
        <div class="row">
            @foreach (var hotel in Model.RandomHotels)
            {
            <div class="col col-md-4 mt-4">
                <div class="card">
                    <img class="card-img-top" src="@hotel.CoverImageUrl" alt="@hotel.Name Cover" height="310">
                    <div class="card-body">
                        <h5 class="card-title">@hotel.Name</h5>
                        <p class="card-text">@hotel.Address.City</p>
                        <div class="d-flex justify-content-between">
                            @if (@hotel.Rooms!.Count == 1)
                            {
                            <small>1 quarto disponível</small>
                            }
                            else
                            {
                            <small>@hotel.Rooms.Count quartos disponíveis</small>
                            }
                            <a class="btn btn-secondary" asp-area="" asp-page="/hotel" asp-route-id="@hotel.Id">Ver hotel</a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        
    }
</div>