@page "{id}"
@model HotelModel
@{
    ViewData["Title"] = "Hotel";
}

<h1 class="display-4">@Model.Hotel.Name</h1>
<p>Hotel em @Model.Hotel.Address.AddressLine, @Model.Hotel.Address.City, @Model.Hotel.Address.PostalCode</p>

<div style="
    background-image: url('@Model.Hotel.CoverImageUrl'); 
    height: 5rem;
    background-size: cover;
    background-position: center center;">
</div>

<hr class="hr"/>

<div>
    @if (Model.Hotel.Rooms == null || Model.Hotel.Rooms.Count == 0)
    {
        <div>Não há quartos disponíveis.</div>
    }
    else
    {
        <div class="row">
            @foreach (var room in Model.Hotel.Rooms)
            {
                <div class="col-12 col-md-3">
                    <div class="card text-center mb-3" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@room.Type para @room.GuestsCapacity @(room.GuestsCapacity == 1 ? "pessoa" : "pessoas")</h5>
                            <p class="text-primary">
                                Diária por R$ @room.Price
                            </p>
                            <a href="#" class="btn btn-primary w-100">Reservar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>