@page "{citySearch?}/{checkIn?}/{checkOut?}"
@using Domain.Entities
@model IndexModel

@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <div class="logo">
        <img src="~/images/logo.png" alt="Logo" class="mx-auto mb-2">
        <div class="subtitle">Planeje sua próxima viagem</div>
    </div>
    <form method="get">
        <div class="row">
            <div class="col-sm-12 col-lg-4 mt-3">
                <label asp-for="CitySearch" class="form-label">Cidade</label>
                <input class="form-control" asp-for="CitySearch" required/>
                <div class="form-text">Escolha um destino.</div>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="checkin" class="form-label">Check-in</label>
                <input type="date" class="form-control" asp-for="CheckIn">
                <div id="checkinHelp" class="form-text">A data que você deseja iniciar sua estadia.</div>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <label for="checkout" class="form-label">Check-out</label>
                <input type="date" class="form-control" asp-for="CheckOut">
                <div id="checkoutHelp" class="form-text">A data que você deseja finalizar sua estadia.</div>
            </div>
        </div>
        <button type="submit" class="btn btn-custom mt-3">Pesquisar</button>
    </form>
</div>


@if (Model.CitySearch != null)
{
    <hr class="hr my-4"/>
    <h2>Pesquisa por hotéis em "@Model.CitySearch"</h2>
    <div class="row">
        @foreach (var hotel in Model.HotelResults)
        {
            <div class="col col-md-4 mt-4">
                <div class="card">
                    <img class="card-img-top" src="@hotel.CoverImageUrl" alt="@hotel.Name Cover" height="310">
                    <div class="card-body">
                        <h5 class="card-title">@hotel.Name</h5>
                        <p class="card-text">@hotel.Address.City</p>
                        <div class="d-flex justify-content-between">
                            @if (@hotel.Rooms!.Count == 1)
                            {
                                <small>1 quarto disponível</small>
                            }
                            else
                            {
                                <small>@hotel.Rooms.Count quartos disponíveis</small>
                            }
                            <form method="get" asp-page="hotel">
                                <input hidden name="id" value="@hotel.Id"/>
                                <input hidden name="checkIn" value="@Model.CheckIn"/>
                                <input hidden name="checkOut" value="@Model.CheckOut"/>
                                <button class="btn btn-secondary" type="submit">Ver hotel</button>
                                @* <a class="btn btn-secondary" asp-area="" asp-page="/hotel" asp-route-id="@hotel.Id" asp-route-checkIn="@Model.CheckIn">Ver hotel</a> *@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}